@model IEnumerable<NegozioCellulariWeb.Models.Cellulare>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Form per filtrare i risultati -->
<form asp-action ="Index" method="get">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="modello" name="modello">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="prezzo da" name="prezzo_da">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="prezzo a" name="prezzo_a">
        </div>
        <div class="col">
            <input type="submit" value="Cerca" class="btn-primary btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAcquisto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeImmagine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Modello)*@
                @item.Modello
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAcquisto)
            </td>
            <td>
                <img src="~/immagini/@item.NomeImmagine" height="150">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
